
    body, h1, h3, p, ul, li {
        margin: 0;
        padding: 0;
    }

    /* Navbar styles */

    #header{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      /* overflow: hidden; */
      z-index: 2;

    }

    
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(238, 1, 72);
        color: #fff;
        height: 85px;
        padding: 0 18px;
    }

    .navbar-left {
        display: flex;
    }

    .navbar-left img {
        height: 65px;
        margin-right: 10px;
        /* margin-top: 10px; */
    }

    .navbar-side-name1 {
        font-size: 14px;
        margin-top: 10px;
    }
   
    .navbar-side-name2 {
        font-size: 30px;
        font-weight: 700;
        margin-top: 10px;
    }

    .navbar-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 150px;
    }

    .navbar-center h1 {
        font-size: 24px;
        font-weight: 700;
    }

    .navbar-right {
        display: flex;
        align-items: center;
    }

    .navbar-shopping-name {
        font-size: 15px;
        color: #fff;
        font-weight: 400;
        padding: 6px 8px;
    }

    .cart {
        height: 22px;
        color: white;
        margin-bottom: 10px;
    }

    /* List navbar styles */
    .navbar-list {
        background-color:rgb(238, 1, 72);
        text-align: center;
        border-top: 1px solid white;
    }

    .navbar-list ul {
        list-style: none;
        display: flex;
        padding: 0px 30px;
    }

    .navbar-list li {
        padding: 8px 23px;
    }

    .navbar-list a {
        /* color: #fff;
        text-decoration: none;
        font-weight: 549;
        font-size: 18px; */

        font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);

    }

    /* Mobile responsiveness */
    @media screen and (max-width: 600px) {
        .navbar {
            flex-direction: column;
            height: auto;
        }

        .navbar-left img {
            margin-bottom: 10px;
            margin-top: 10px;
        }

        .navbar-center {
            margin-right: 0;
            margin-bottom: 10px;
        }

        .navbar-list {
            display: none;
        }

        .navbar-menu-btn {
            display: block;
            cursor: pointer;
            margin-right: 20px;
        }

        .navbar-menu-btn div {
            width: 35px;
            height: 5px;
            background-color: #fff;
            margin: 6px 0;
        }

        .navbar-menu {
            display: none;
        }

        .navbar-menu.show {
            display: block;
        }

        /* Show the mobile menu */
        .navbar-list ul {
            flex-direction: column;
            display: none;
        }

        .navbar-menu-btn {
            display: block;
            cursor: pointer;
            margin-right: 20px;
        }

        .navbar-menu-btn div {
            width: 35px;
            height: 5px;
            background-color: #fff;
            margin: 6px 0;
        }

        .navbar-menu {
            display: none;
        }

        .navbar-menu.show {
            display: block;
        }
    }
/* ..............................................................sliding part .................... */

.carousel-item img {
        max-height: 700px; 
        object-fit: cover;
    }
    .carousel-caption {
        top: 50%;
        transform: translateY(-50%);
    }
.carousel-captionh3{
  margin: 0px 0px 16px;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  font-size: 80px;
  font-weight: 700;
}

.carousel-captionp{
  font-weight: 400;
  letter-spacing: 0.00938em;
  font-size: 18px;
  line-height: 2;
  text-align: center;
}



/* Custom styles for the carousel control icons */
.carousel-control-prev,
.carousel-control-next {
  width: 200px; /* Set the desired width for the icons */
  height: 100px; /* Set the desired height for the icons */
  /* background-color: rgba(0, 0, 0, 0.2); Set the background color */
  border-radius: 50%; /* Make the icons circular */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px; /* Adjust the font size as needed */
  /* color: white; Set the icon color */
  margin: auto;
  margin-bottom: 250px;
  
}

.carousel-custom-icon {
  line-height: 2; /* Remove any extra space around the icon */
}








    @media (max-width: 767px) {
        .carousel-caption {
            top: unset;
            transform: unset;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px;
        }
    }
    /* ........................................................................................ */
    
    .Box{
        background-color: #f1f4f0;
        display: flex;
        margin-top: 20px;
        padding-bottom: 20px;
    }
    .texth1{
      line-height: 1.167;
      letter-spacing: 0em;
      color: rgb(238, 1, 72);
      font-weight: 700; 
      font-size: 54px;
      margin-top: 20px;


    }
    .texth3{
        margin-top: 10px;
    font-size: 25px;
    line-height: 1.167;
    letter-spacing: 0em;
    font-weight: 700;
    text-align: center;
    }
    .textp{
        font-size: 21px;
   
    font-weight: 400;
    /* font-size: 3rem; */
    letter-spacing: 0em;
    line-height: 1.8;
    }
    .textpp{
        font-size: 21px;
    text-align: right;
    /* text-align: left; */
    margin-left: 200px;
    /* font-size: 3rem; */
    letter-spacing: 0em;
    line-height: 1.8;
    font-weight: 700;
    }

    @media (max-width: 767px) {
        .Box {
           display: none;   
        }
    }
    /* .............................................................................................. */

    
#श्रीपंतवाङमय{
  background-color: rgb(255, 255, 255);
    padding-top: 40px;

}
.श्रीपंतवाङमयh1{
  margin: auto;
  text-align: center;
    color: rgb(238, 1, 72);
    font-weight: 700;
    line-height: 1.5;
    font-size: 45px;
    
}
.श्रीपंतवाङमयp{
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}
.श्रीपंतवाङमयpp{
  margin: auto;
  text-align: center;
  margin-top: 10px;
  font-weight: 500;
}
.श्रीपंतवाङमयp{
  margin: auto;
  text-align: center;
} 

.video-container {
  position: relative;
  padding-bottom: 5%; 
  overflow: hidden;

}

.बोधपर {
  display: flex;
  transition: transform 0.3s ease;
  margin-left: 200px;
  /* margin: auto; */
}

.बोधपर .मार्गदर्शन {
  width: 300px;
  height: 200px;
  margin-right: 10px;
  margin-top: 30px;
}

.बोधपर iframe {
  width: 100%;
  height: 100%;
  margin-top: 10px;

}





/* Mobile responsiveness */

@media (max-width: 768px) {

  .श्रीपंतवाङमयh1{
    font-size: 25px;
  }
  .बोधपर {
    flex-direction: column;
    align-items: center;
    height: auto;
    margin-left: 0px;

  }

  .बोधपर .मार्गदर्शन {
    margin-right: 0; 
    margin-bottom: 10px; 
  }
}

/* .................................................................................................. */



.श्रवण {
  position: relative;
  width: 100%;
  height: 60vh;
  background-image: url('https://media.istockphoto.com/id/1460007178/photo/library-books-on-table-and-background-for-studying-learning-and-research-in-education-school.webp?b=1&s=170667a&w=0&k=20&c=TRED57BZuROoCEP9kR85pW38PLz32onmM8106OoXeGQ=');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.मनन {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.मननh1 {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 700;
}

.मननp {
  font-size: 1.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
    font-size: 33px;
    font-weight: 700;
    text-align: center;
}

.मननbut {
  background-color: rgb(238, 1, 72);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: 700;
  margin-top: 20px;
  line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    min-width: 64px;
    padding: 6px 8px;
    border-radius: 4px;
    font-size: 30px;
}

.मननbutton:hover {
  background-color:rgb(238, 1, 72);
}

@media (max-width: 768px) {
  .मननh1 {
    font-size: 2rem;
  }
  
  .मननp {
    font-size: 1rem;
  }
  
  .मननbutton {
    font-size: 1rem;
  }
  .श्रवण{
    height: 40vh;
    background-image: 100%;
  }
}
/* ..........................................................video2..................................................... */

.उपक्रम {
    display: flex;
    margin-left: 200px;
    color:rgb(238, 1, 72);


}
.उपक्रमh5{
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.00938em;
  color: rgb(238, 1, 72);
  font-size: 28px;
  text-align: center;
  margin-top: 15px;

}

@media (min-width: 768px) {
    .उपक्रम {
      gap: 50px;
      
    }

    .उपक्रम h5 {
      font-size: 18px;
    }
  }
      

 
    
    /* .................................................................................................................. */

    .आठवणींना{
        background-color: #f1f4f0;
        padding-top: 30px;
        margin-top: 35px;
    }
    .carousel-inner img {
    
      width: 300px;
      height: 250px;

    } 
     .carousel-inner{
        width: 80%;
        margin: auto;

    }

   .उजाळा{
    margin-top: 50px;
   }

    /* .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: black;
    }
    .carousel-control-prev-icon:hover,
    .carousel-control-next-icon:hover {
      background-color: darkred;
    }  */
   
    
/* ............................footer................................................. */


footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  justify-content: space-around;
  background-color:rgb(238, 1, 72) ;
  margin-top: 50px;
}

.footer-section h3{
  margin-top: 50px;
    color: white;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    font-weight: 400;
    font-size: 2.125rem;
    line-height: 1.235;
    letter-spacing: 0.00735em;
}

.footer-section p{
  margin-top: 30px;
    color: white;
    font-weight: 400;
    font-size: 18px;
    margin: 0px 0px 8px;
    font-size: 16px;
    margin-top: 10px;
}
.footer-section1,.footer-section .footer-list {
  flex: 1 0 100%;
  max-width: 350px;
  margin-bottom: 20px;
  color: white;
  margin-top: 20px;

}

.footer-list h3 {
    color: white;
    font-weight: 400;
    font-size: 33px;
    line-height: 1.235;
    letter-spacing: 0.00735em;
    margin-top: 20px;
    margin-top: 50px;


}
.footer-list ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 50px;
  color: white;

    font-weight: 400;
    font-size: 18px;
    /* margin-top: 20px; */


}
.footer-section1 img{
    height: 65px;
    width: 65px;
    padding-left: 15px;
    margin-top: 20px;
    /* height: 50px; */
    /* width: 50px; */
    background-color: transparent;
    padding: 15px;

}

.footer-section1 p{
    font-size: 13px;
    margin-top: 50px;
    color: white;

   
}

@media (max-width: 768px) {
    .footer-section,
    .footer-list,
    .footer-section1 {
      flex: 1 0 100%;
      max-width: 100%;
    }
    .social-icons img {
      margin-right: 5px;
    }
  }


/* ............................................................product..................................... */




/* .....................................................................main slide */

/* ........................................................... */





#slide {
  background-color: #f1f4f0;
  width: 100%;
  padding: 10px;
}

.womenslider {
  width: 90%;
  margin: 0 auto;
}

.slick-prev::before,
.slick-next::before {
  background-color: rgba(128, 128, 128, 0);
}

.womenslider div {
  /* text-align: center; */
  /* border: 1px solid #ccc; */
  /* padding: 10px; */
  /* background-color: #fff; */
}

.womenslider div img {
  width: 80%;
  margin-top: 10px;
}

.slick-prev::before,
.slick-next::before {
  color: white;
  font-size: 28px;
  margin-left: 0px; 
  color: #000;
}

.slick-prev::before button {
  color: white;
  font-size: 30px;
  margin-left: 0px; 
  margin-right: 0px;
  color: #000;
}

/* Add your product card styles here */
.product-card {
  margin: 20px;
  border-radius: 5px;
  padding: 10px;
  background-color: #f1f4f0;
  /* border: 1px solid #ccc; */

}

.product-image {
  width: 60%;
  height: 250px;
  margin: auto;
  padding: 10px 20px;
}

.product-but {
  display: block;
  margin: 10px auto;
  background-color: rgb(46, 125, 50);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 35px;
  width: 90%;
  font-size: 10px;
  margin-top: 10px;
  margin-right: 10px;
}

/* Mobile responsive */
@media screen and (max-width: 480px) {
  .womenslider div {
      margin-bottom: 10px;
  }
  
  .slick-prev, .slick-next {
      display: none;
  }
}

b{
  font-size: 80px;
}

.fotterb{
  font-size: 25px;
  margin-right: 2px;
  /* margin-top: 20px; */
}